html{
    font-family: 'Times New Roman', Times, serif;
}
html,body{
    margin: 0;
    padding: 0;
}
body {
    background-image: url(/images/Assassins-Creed.jpg);
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------------------------------------Heading----------------------------------------------------*/

h1 {
    color: whitesmoke;
    font-size: 60px;
    text-align: center;
    background-color: hsla(0 , 4%, 18%, 0.6);
    border: 2px solid black;
    border-left: 0;
    border-right: 0;
    
}

/*---------------------------------------------------Ending Developer Link----------------------------------------------------*/

a {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
    float: right;  
    
}

a:hover {
    color:whitesmoke;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

/*---------------------------------------------------Navigation Bar----------------------------------------------------*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: hsla(0 , 4%, 18%, 0.6);
    display: flex;
    height: 50px;
    /* align-items: center;
    flex-direction: row; */
}
li {
    float: left;
    font-family: sans-serif;
    font-size: 100%;
    font-weight: lighter;
}
li a{
    display: block;
    padding: 16px;
    color: white;
    text-align:center;
    cursor: pointer;
}
li a:hover {
    background-color: hsl(0 , 5%, 18%);
    color: white;
    text-decoration: none;
    border-bottom: 3px solid whitesmoke;
}

/*------------------------------------------TrailerClips-------------------------------------------------------------*/
.trailerClips iframe {
    padding: 20px;
    display: inline-flex;
    position: relative;
}

/*------------------------------------------Footer-------------------------------------------------------------*/
footer {
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    position: absolute;
    padding: 20px;
}

/*-------------------------------------------------------------------------------------------------------*/